/* Home.css */
/* Add your custom styles here */

/* Example styles for the cta-button */
.cta-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: white; /* Choose your desired color */
  color:black;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
  background-color: #5d12e0; /* Choose a slightly darker shade for hover effect */
}
