.ctao-button {
    background-color:#99f6e4; /* Coral color */
    color: black;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 2px solid transparent;
  }
  
  .ctao-button:hover {
    background-color: #fef08a; /* Slightly different color on hover */
    transform: scale(1.05); /* Enlarge the button on hover */
  }
  